<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<title>Haryana Talent Search Examination</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<link rel="icon" type="image/ico" sizes="16x16" href="images/hkcl-logo.ico">
<link rel="stylesheet" href="css/open-iconic-bootstrap.min7b30.css?v=4">
<link rel="stylesheet" href="css/animate7b30.css?v=4">
<link rel="stylesheet" href="../../use.fontawesome.com/releases/v5.2.0/css/all7b30.css?v=4" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="css/owl.carousel.min7b30.css?v=4">
<link rel="stylesheet" href="css/owl.theme.default.min7b30.css?v=4">
<link rel="stylesheet" href="css/magnific-popup7b30.css?v=4">
<link rel="stylesheet" href="css/aos7b30.css?v=4">
<link rel="stylesheet" href="css/ionicons.min7b30.css?v=4">
<link rel="stylesheet" href="css/flaticon7b30.css?v=4">
<link rel="stylesheet" href="css/icomoon7b30.css?v=4">
<link rel="stylesheet" href="css/jquery-confirm7b30.css?v=4">
<link rel="stylesheet" href="css/style7b30.css?v=4">
<link rel="stylesheet" href="css/all7b30.css?v=4">

</head>
<body>
<div class="header-top">
  <div class="container">
    <h3>Call us : 0172-5210282</h3>
   
   <!--<button class="btn btn-primary" type="button" onclick="" >Locate ALC</button>-->
    <a href="images/ALC-2019.pdf" target="_blank">Locate ALC</a> 
    <a href="images/FAQs.pdf" target="_blank">FAQ</a> 
  
  <div class="dropdown top-dropdown request-catalog">
    <button class="btn btn-primary" type="button" onclick="window.location.href='registration.html'" data-toggle="dropdown">Registration</button>
	
   
  </div>
    
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
  <div class="container"> <a class="navbar-brand" href="http://localhost:8080"><img src="images/hkcl-logo.png" width="80" /><img src="images/log2.png" width="250" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"> <span class="oi oi-menu"></span> Menu </button>
   	<div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="http://localhost:8080" class="nav-link">Home</a></li>
        <li class="nav-item "><a href="aboutgiftededucation" class="nav-link">About Us</a></li>
        <li class="nav-item "><a href="aboutassettalentsearch" class="nav-link">Prize Distribution</a></li>
        <li class="nav-item "><a href="programmes" class="nav-link">Exam Pattern</a></li>
		<li class="nav-item "><a href="#" class="nav-link">Mock Test</a></li>
        <li class="nav-item "><a href="contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

    <section class="home-slider owl-carousel" >
      <div class="slider-item" style="background-image: url('images/49.jpg'); height: 250px; min-height: 500px;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-end" style="min-height: 500px; height: 250px;">
            <div class="col-md-10 col-sm-12 ftco-animate mb-4">
              <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>> About ASSET Talent Search</span></p>
              <h1 class="mb-3">About ASSET Talent Search</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section-2 rs-about">
      <div class="container d-flex">
        <div class="section-2-blocks-wrapper row d-flex">
          <div class="img col-sm-12 col-lg-5 order-last">
          	<div class="about-img rs-animation-hover"> <img src="images/about-asset-video.jpg" alt="img02"> </a>
        <div class="overly-border"></div>
        <p class="text-center"><br />
     
       <strong>Know what is Haryana Talent Search in a minute.</strong></p>
      </div>
          </div>
          <div class="text col-lg-7 order-first ftco-animate">
            <div class="text-inner align-self-start">
              <span class="subheading">How it all started?</span>
              <h3 class="heading">Inception of Haryana Talent Search Examination</h3>
              <p>Haryana Talent Search Examination (HTSE), is a competitive examination which is conducted by HKCL at school level. </p>
      			 <p><b>Objective: </b><br>
 	Through this exam we are trying to give a platform to the students for preparing their competitive exams. <br>
 	The aim of this exam is to identify talented students and give their talent a platform.<br><br>
 	The aim of this exam to create a healthy and positive competition environment among the primary, middle and high school students. <br><br>
 	It will increase the thinking capacity, problem solving skills, confidence and hence helps in an all over development of a child at a young stage.<br><br>
 	Through this exam we can inculcate the habit of taking challenge since younger stage.<br><br>
 	This exam will also help a student to bring out the areas where they are lacking proficiency so that so that a proper orientation can be given to improve in that area.<br><br>
 	They motivate students to endeavor for better and deeper understanding of curriculum to enhance their reasoning, analytical and problem-solving skills.<br><br>
</p>
             <!--<p>Registrations for India now open.<a href="../asset_talent_search_registration.php" target="_blank"> Apply now</a> </p>-->
             <!--<p>ATS India Hall Ticket <a href="parents-instructions.php" target="_blank">Download</a> </p>-->
             <p>Haryana Talent Search Examination  2019 registrations now open <a href="#" target="_blank"> Click here to register.</a></p>
             <p>Explore Exam Pattern 2019. <a href="programmes.html" target="_blank"> Click here</a> </p>
             <!--<p>ASSET Talent Search  2019 registrations now open.<a href="#" target="_blank"> Click here to register</a> </p>-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="instagram bg-light pb-5 pt-3">
      <div class="container-fluid">
        <div class="row no-gutters justify-content-center mb-3 pb-3 pt-5 mt-5">
          <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
            <span class="subheading">Prize Distribution</span>
            <h2>Group Wise Prize Distribution</h2>
          </div>
        </div>
      </div>
      
	  <div class="row">
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs4.jpg" alt=""> <a class="image-link"href="#" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                  <div class="course-body">
                    <h4 class="course-title"><a href="#" target="_blank">Group- A</a></h4>
                    <div class="course-desc">
                    <p>  
					<ul style="text-align: left;">
						    <li>Top 5 students will be selected from the State for Group- A.</li>
						    <li>Next top 3 students will be selected from each district. Thus from 22 districts, 66 winners will be selected for Group- A.</li>
					</ul>
					</p>
                    </div>
                  </div>
                  <div class="course-footer">
                   <!-- <div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">7-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs5.jpg" alt=""> <a class="image-link"href="https://www.assettalentsearch.com/sig-programme/index.php" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                   <div class="course-body">
                    <h4 class="course-title"><a href="#" target="_blank">Group- B</a></h4>
                    <div class="course-desc">
                    <p>  
					<ul style="text-align: left;">
						    <li>Top 5 students will be selected from the State for Group- B.</li>
						    <li>Next top 3 students will be selected from each district. Thus from 22 districts, 66 winners will be selected for Group- B.</li>
					</ul>
					</p>
                    </div>
                  </div>
                  <div class="course-footer">
                    <!--<div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential/Online</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">5-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs6.jpg" alt=""> <a class="image-link"href="#" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                  <div class="course-body">
                    <h4 class="course-title"><a href="#" target="_blank">Group- C</a></h4>
                    <div class="course-desc">
                      <p><ul style="text-align: left;">
					  <li>Top 5 students will be selected from the State for Group- C.</li>
 	 <li>Next top 3 students will be selected from each district. Thus from 22 districts, 66 winners will be selected for Group- C.</li>
	<ul>
</p>
                    </div>
                  </div>
                  <div class="course-footer">
                    <!--<div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">5-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
            </div>
			
			
			<div class="row">
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs4.jpg" alt=""> <a class="image-link"href="#" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                  <div class="course-body">
                    <h4 class="course-title"><a href="#" target="_blank">Group- D</a></h4>
                    <div class="course-desc">
                    <p>  
					<ul style="text-align: left;">
						    <li>Top 5 students will be selected from the State for Group- D.</li>
						    <li>Next top 3 students will be selected from each district. Thus from 22 districts, 66 winners will be selected for Group- D.</li>
					</ul>
					</p>
                    </div>
                  </div>
                  <div class="course-footer">
                   <!-- <div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">7-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs5.jpg" alt=""> <a class="image-link"href="#" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                   <div class="course-body">
                    <h4 class="course-title"><a href="#" target="_blank">State Wise Rewards for Each Group:</a></h4>
                    <div class="course-desc">
                    <p>  
					<ul style="text-align: left;">
						    <li>First	: 	Rs. 5100/-</li>
						    <li>Second	: 	Rs. 4100/-</li>
						    <li>Third	: 	Rs. 3100/-</li>
							<li>Fourth	: 	Rs. 2100/-</li>
							<li>Fifth	: 	Rs. 1500/-</li>
					</ul>
					</p>
                    </div>
                  </div>
                  <div class="course-footer">
                    <!--<div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential/Online</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">5-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs6.jpg" alt=""> <a class="image-link"href="#" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                  <div class="course-body">
                    <h4 class="course-title"><a href="#" target="_blank">District Wise Rewards for Each Group</a></h4>
                    <div class="course-desc">
                      <p><ul style="text-align: left;">
					  <li>All the students who come to the top at the district level will be honored with medal and their name will be published on the website.</li>
 	 <li>All the top-grade students of the district level will be rewarded by the Principal of the school in their own school.</li>
	<ul>
</p>
                    </div>
                  </div>
                  <div class="course-footer">
                    <!--<div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">5-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
            </div>
	  
	  
	  
    </section>

    <section class="ftco-section-2">
      <div class="container d-flex">
        <div class="section-2-blocks-wrapper row d-flex">
          <div class="img col-sm-12 col-lg-5 order-last" style="background-image: url('images/WhatsApp Image 2018-11-01 at 11.37.25.jpeg');">
          </div>
          <div class="text col-lg-7 order-first ftco-animate">
            <div class="text-inner align-self-start">
                <span class="subheading">WHY HKCL?</span>
              <h3 class="heading">Here's how we become contributors in your child's academic success</h3>
            	
                  <div class="col-md-12 px-0">
                     <div class="text-icon"><span class="oi oi-flag"></span></div>
                     <p>Haryana Knowledge Corporation Limited (HKCL) is promoted by the Electronics & Information Technology Department, Government of Haryana, India along with Maharashtra Knowledge Corporation Ltd, HARTRON, Board of School Education - Haryana and five Universities of Haryana.</p>
                  </div>
				    <div class="col-md-12 px-0">
                     <div class="text-icon" style="height: 115px;"><span class="oi oi-flag"></span></div>
                     <p>It was incorporated under the Companies Act, 1956 Corporate Identity Number (CIN) U80904HR2013PLC050331, dated September 10, 2013 issued by the Registrar of Companies, National Capital Territory of Delhi and Haryana to create new paradigm in education and development through universalization and integration of Information Technology in teaching, learning and educational management processes and socio-economic transformative processes in general.</p>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light pb-0">
      <div class="container-fluid section-event">
        <div class="row no-gutters justify-content-center mb-5 pb-3 pt-5 mt-3">
          <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
            <span class="subheading">Recognition</span>
            <h2>In the press</h2>
          </div>
        </div>
        <div class="row d-flex no-gutters">
          <div class="col-md-6 event-big-img" style="background-image: url(images/event.jpg);"></div>
          <div class="col-md-6 event-wrap">
            <div class="event mb-5 ftco-animate fadeInUp ftco-animated">
              <div class="text">
                <p class="meta p-2 text-center">
                  <span class="day">07</span>
                  <span class="mos">May</span>
                  <span class="year">2018</span>
                </p>
                <h3><a href="https://www.udayavani.com/english/news/udupi-kundapur/291911/students-across-karnataka-participate-asset-summer-programme-asp" target="_blank">Udayavani</a></h3>
                <p>Students across Karnataka to participate in the ASSET Summer Programme (ASP)</p>
                <p>
                  <a href="https://www.udayavani.com/english/news/udupi-kundapur/291911/students-across-karnataka-participate-asset-summer-programme-asp" class="btn btn-primary btn-outline-primary" target="_blank">See details</a>
                </p>
              </div>
            </div>
            <div class="event mb-5 ftco-animate fadeInUp ftco-animated">
              <div class="text">
                <p class="meta p-2 text-center">
                  <span class="day">09</span>
                  <span class="mos">May</span>
                  <span class="year">2018</span>
                </p>
                <h3><a href="https://www.thehindu.com/todays-paper/tp-national/tp-karnataka/summer-event-for-select-students-at-mit/article23818877.ece" target="_blank">The Hindu</a></h3>
                <p>Summer event for select students at MIT</p>
                <p>
                  <a href="https://www.thehindu.com/todays-paper/tp-national/tp-karnataka/summer-event-for-select-students-at-mit/article23818877.ece" class="btn btn-primary btn-outline-primary" target="_blank">See details</a>
                </p>
              </div>
            </div>

            <div class="event mb-5 ftco-animate fadeInUp ftco-animated">
              <div class="text">
                <p class="meta p-2 text-center">
                  <span class="day">11</span>
                  <span class="mos">Aug</span>
                  <span class="year">2017</span>
                </p>
                <h3><a href="http://blog.ei-india.com/2017/08/11/mindspark-has-been-featured-in-the-economist/" target="_blank">Economist article</a></h3>
                <p></p>
                <p>
                  <a href="http://blog.ei-india.com/2017/08/11/mindspark-has-been-featured-in-the-economist/" class="btn btn-primary btn-outline-primary" target="_blank">See details</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section room-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">What people say about us</span>
            <h2>Testimonials</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ftco-animate">
           <div class="carousel-room owl-carousel">
            <div class="item">
              <div class="room-wrap">
              	<a href="https://www.youtube.com/watch?v=baKVOCNfBnQ&amp;feature=youtu.be" class="room-img popup-youtube" style="background-image: url(images/angikar.jpg);"></a>
                <div class="text p-4">
                  <div class="d-flex mb-1">
                      <a href="https://www.youtube.com/watch?v=baKVOCNfBnQ&amp;feature=youtu.be" class="popup-youtube"><h6>Angikar Ghosal - ASSET Talent Search - Gold Scholar, Kolkata</h6><p>ASSET Talent Search exams stands out among others in two ways - Diagnostic exams and Unique opportunities</p></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="room-wrap">
              	<a href="https://www.youtube.com/watch?v=99Raz9LD1aA&amp;feature=youtu.be" class="room-img popup-youtube" style="background-image: url(images/soumil.jpg);"></a>
                <div class="text p-4">
                  <div class="d-flex mb-1">
                      <a href="https://www.youtube.com/watch?v=99Raz9LD1aA&amp;feature=youtu.be" class="popup-youtube"><h6>Soumil Aggarwal - ASSET Talent Search - Gold Scholar, New Delhi</h6><p>I've taken ATS from 4th-7th grade and it's very different from the other class tests, because the questions make me think.</p></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="room-wrap">
              	<a href="https://www.youtube.com/watch?v=Bj4Xz-c4e1U&amp;feature=youtu.be" class="room-img popup-youtube" style="background-image: url(images/tarun.jpg);"></a>
                <div class="text p-4">
                  <div class="d-flex mb-1">
                      <a href="https://www.youtube.com/watch?v=Bj4Xz-c4e1U&amp;feature=youtu.be" class="popup-youtube"><h6>Tarun Shridhar - ASSET Talent Search - Gold Scholar, Bangalore</h6><p>This is my 5th ATS test and I have now started liking Maths and have gained confidence</p></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="room-wrap">
              	<a href="https://www.youtube.com/watch?v=FHFeRbeORs4" class="room-img popup-youtube" style="background-image: url(images/karthik.jpg);"></a>
                <div class="text p-4">
                  <div class="d-flex mb-1">
                      <a href="https://www.youtube.com/watch?v=FHFeRbeORs4" class="popup-youtube"><h6>Karthik Eswar - ASSET Talent Search - Gold Scholar, Chennai</h6><p>ASSET Test helps deepen my understanding and learnt how to apply these concepts in real-life!</p></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="room-wrap">
              	<a href="https://www.youtube.com/watch?v=a68JC6SRUP8&amp;feature=youtu.be" class="room-img popup-youtube" style="background-image: url(images/arunit.jpg);"></a>
                <div class="text p-4">
                  <div class="d-flex mb-1">
                      <a href="https://www.youtube.com/watch?v=a68JC6SRUP8&amp;feature=youtu.be" class="popup-youtube"><h6>Arunit Adhikary - ASSET Talent Search - Gold Scholar, Bangalore</h6><p>The conceptual knowledge that you need to appear ATS Test changed my perception and liking for Science subject. </p></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="room-wrap">
              	<a href="https://www.youtube.com/watch?v=icVA3McO26I&amp;feature=youtu.be" class="room-img popup-youtube" style="background-image: url(images/samhitha.jpg);"></a>
                <div class="text p-4">
                  <div class="d-flex mb-1">
                      <a href="https://www.youtube.com/watch?v=icVA3McO26I&amp;feature=youtu.be" class="popup-youtube"><h6>Samhitha Satishchandra - ASSET Talent Search - Gold Scholar, Bangalore</h6><p>I am proud to call myself an ASSET Talent Scholar!</p></a>
                  </div>
                </div>
              </div>
            </div>

           </div>
          </div>
        </div>
      </div>
    </section>
    

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
               <h2 class="ftco-heading-2"><a href="#" target="_blank"><img src="images/h.png" class="mr-2" width="150" /></a><img src="images/log12.png" width="250" /></h2>
              <p>We create opportunities that allow gifted students to actualise their unique abilities.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-youtube"></span></a></li>
                <!--<li class="ftco-animate"><a href="#" target="_blank"><span class="icon-linkedin"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><i class="fab fa-blogger-b"></i></a></li>-->
              </ul>
            </div>
          </div>

          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Haryana Talent Search Examination.</h2>
              <ul class="list-unstyled">
                <li><div class="py-2 d-block">Powered By <a href="http://hkcl.in" target="_blank">HKCL</a></div></li>
                <!--<li><div class="py-2 d-block"></div></li>-->
              </ul>
            </div>
          </div>

          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have any questions? Contact us</h2>
              <ul class="list-unstyled">
                <li><div class="py-2 d-block">India: <a href="tel:0172-5210282">0172-5210282</a><br>
				(Monday - Saturday: 9:30 am to 5:30 pm IST)</div></li>
                <li><div class="py-2 d-block"><a href="mailto:info@hkcl.in">info@hkcl.in</a></div></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
           		<small> 2019 © Haryana Talent Search Examination. Powered by HKCL</small>
          </div>
          <div class="col-md-6 text-right">
           		<small>
                  <a href="policy" class="mr-3">Privacy Policy</a>
                  <a href="termsconditions" class="mr-5">Terms and Conditions</a>
              </small>
          </div>
        </div>
      </div>
    </footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min5e1f.js?v=2"></script>
  <script src="js/jquery-migrate-3.0.1.min5e1f.js?v=2"></script>
  <script src="js/popper.min5e1f.js?v=2"></script>
  <script src="js/bootstrap.min5e1f.js?v=2"></script>
  <script src="js/jquery.easing.1.35e1f.js?v=2"></script>
  <script src="js/jquery.waypoints.min5e1f.js?v=2"></script>
  <script src="js/jquery.stellar.min5e1f.js?v=2"></script>
  <script src="js/owl.carousel.min5e1f.js?v=2"></script>
  <script src="js/jquery.magnific-popup.min5e1f.js?v=2"></script>
  <script src="js/aos5e1f.js?v=2"></script>
  <script src="js/main5e1f.js?v=2"></script>
  <script src="js/jquery-confirm5e1f.js?v=2"></script>
  

  </body>

</html>