<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<title>Haryana Talent Search Examination</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<link rel="icon" type="image/ico" sizes="16x16" href="images/hkcl-logo.ico">
<link rel="stylesheet" href="css/open-iconic-bootstrap.min7b30.css?v=4">
<link rel="stylesheet" href="css/animate7b30.css?v=4">
<link rel="stylesheet" href="../../use.fontawesome.com/releases/v5.2.0/css/all7b30.css?v=4" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="css/owl.carousel.min7b30.css?v=4">
<link rel="stylesheet" href="css/owl.theme.default.min7b30.css?v=4">
<link rel="stylesheet" href="css/magnific-popup7b30.css?v=4">
<link rel="stylesheet" href="css/aos7b30.css?v=4">
<link rel="stylesheet" href="css/ionicons.min7b30.css?v=4">
<link rel="stylesheet" href="css/flaticon7b30.css?v=4">
<link rel="stylesheet" href="css/icomoon7b30.css?v=4">
<link rel="stylesheet" href="css/jquery-confirm7b30.css?v=4">
<link rel="stylesheet" href="css/style7b30.css?v=4">
<link rel="stylesheet" href="css/all7b30.css?v=4">


</head>
<body>
 
<div class="header-top">
  <div class="container">
    <h3>Call us : 0172-5210282</h3>
   
   <!--<button class="btn btn-primary" type="button" onclick="" >Locate ALC</button>-->
    <a href="images/ALC-2019.pdf" target="_blank">Locate ALC</a> 
    <a href="images/FAQs.pdf" target="_blank">FAQ</a> 

  
  <div class="dropdown top-dropdown request-catalog">
    <button class="btn btn-primary" type="button" onclick="window.location.href='registration'" data-toggle="dropdown">Registration</button>
	
   
  </div>
    
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
  <div class="container"> <a class="navbar-brand" href="http://localhost:8080"><img src="images/hkcl-logo.png" width="80" /><img src="images/log2.png" width="250" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"> <span class="oi oi-menu"></span> Menu </button>
   	<div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="http://localhost:8080" class="nav-link">Home</a></li>
        <li class="nav-item "><a href="aboutgiftededucation" class="nav-link">About Us</a></li>
        <li class="nav-item "><a href="aboutassettalentsearch" class="nav-link">Prize Distribution</a></li>
        <li class="nav-item "><a href="programmes" class="nav-link">Exam Pattern</a></li>
		<li class="nav-item "><a href="#" class="nav-link">Mock Test</a></li>
        <li class="nav-item "><a href="contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->


<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url('images/WhatsApp Image 2018-11-01 at 11.37.23 (1).jpeg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center text-center">
        <div class="col-md-12 col-sm-12 ftco-animate">
          <h1 class="mb-4"> Haryana Talent Search Examination 2019 Registrations Now Open </h1>
          <a target="_blank" href="#" class="btn btn-primary btn-outline-white px-4 py-3">For Haryana</a> 
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item" style="background-image: url('images/WhatsApp Image 2018-11-01 at 11.37.23.jpeg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center text-center">
        <div class="col-md-12 col-sm-12 ftco-animate">
          <h1 class="mb-4">Brightest students of Haryana have given their verdict!</h1>
          <a target="_blank" href="#" class="btn btn-primary btn-outline-white px-4 py-3">Know More</a> 
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item" style="background-image: url('images/WhatsApp Image 2018-11-01 at 11.37.24.jpeg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center text-center">
        <div class="col-md-12 col-sm-12 ftco-animate">
          <h1 class="mb-4"> Exam Pattern for Haryana’s Most Gifted Students are LIVE</h1>
          <a target="_blank" href="programmes.html" class="btn btn-primary btn-outline-white px-4 py-3">Apply Now</a> 
         
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item" style="background-image: url('images/WhatsApp Image 2018-11-02 at 13.40.34 (1).jpeg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center text-center">
        <div class="col-md-12 col-sm-12 ftco-animate">
          <h1 class="mb-4">Pioneers in Gifted Education</h1>
          <a target="_blank" href="about-gifted-education.html" class="btn btn-primary btn-outline-white px-4 py-3">Read More</a> 
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END slider --> 
<!--about section start-->
<section class="ftco-section rs-about">
  <div class="container">
  <div class="sec-title mb-50 text-center">
    <h2>Haryana Talent Search Examination</h2>
    <p>Identifying gifted students since 2017.</p>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 text-center">
      <div class="about-img rs-animation-hover"> <img src="images/WhatsApp Image 2018-11-02 at 13.40.35 (1).jpeg" alt="img02"><!-- <a class="popup-youtube rs-animation-fade" href="#" title="Video Icon">---> </a>
        <div class="overly-border"></div>
      </div>
      <p class="text-center"><br />
     
       <strong> Through HTSE students had the #BestSummerEver</strong></p>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="about-desc">
        <h3>What makes HKCL Pioneers in Providing Online Education?</h3>
        <p>We offer an array of opportunities through various gifted programmes offered by Haryana Talent Search Examination and partner Centers and others.</p>
      </div>
      <div id="accordion" class="rs-accordion-style1">
        <div class="card">
          <div class="card-header active" id="headingOne">
            <h3 class="acdn-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Why we promote Online Education? </h3>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">children demonstrate a higher ability or a potential for higher capacity compared to their peers. This ability needs to be nurtured through advanced academic development.<br />
              <br />
              Haryana Talent Search Examination has been organising programmes for gifted students for the last 1 year based on research in this field and keeping in mind their specific needs. We deliver world-class, academically rigorous programmes. </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> What we do? </h3>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body"> Educational Initiatives is an education research organisation and one of the largest assessment companies in the world. With millions of data points about student’s learning, we are the only ones, to scientifically identify the brightest and the most gifted young minds in India and UAE. </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header mb-0" id="headingThree">
            <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Our Credibility </h3>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div class="row desc d-flex justify-content-center">
                <div class="col-6">
                  <h4 class="h4 font-weight-bold"><a href="#">1 Million </a></h4>
                  students assessed </div>
                <div class="col-6">
                  <h4 class="h4 font-weight-bold">5000+ </h4>
                  Centers facilitated </div>
              </div>
              <div class="row desc d-flex ">
              	
                <div class="col-12"> <h5 style="margin-bottom:0; margin-top:15px;">Our Assessment Partners</h5> <img src="images/0.png" alt=""> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!--about scrtion end--> 
<!--Programmes  section start-->
<section class="ftco-section  bg-light rs-courses" >
  <div class="container">
    <div class="sec-title mb-50 text-center">
      <h2>Gallery</h2>
     <!-- <p>Details about the Programmes and Courses - explore how far your gift can take you!</p>-->
    </div>
    <div class="row">
      <div class="col-md-12 dish-menu">
        <!--add-->
		

<center>
<a data-fancybox="gallery" href="images/DSC_0113.jpg"><img style="height:169px;width:255px" class="small" src="images/DSC_0113.jpg"></a>
<a data-fancybox="gallery" href="images/DSC_0116.JPG"><img style="height:169px;width:255px" class="small" src="images/DSC_0116.JPG"></a>
<a data-fancybox="gallery" href="images/DSC_0117.JPG"><img style="height:169px;width:255px"  class="small" src="images/DSC_0117.JPG"></a>
<a data-fancybox="gallery" href="images/DSC_0122.JPG"><img style="height:169px;width:255px"  class="small" src="images/DSC_0122.JPG"></a>
<br>

<a data-fancybox="gallery" href="images/DSC_0123.JPG"><img style="height:169px;width:255px"  class="small" src="images/DSC_0123.JPG"></a>
<a data-fancybox="gallery" href="images/g1.jpeg"><img style="height:169px;width:255px"  class="small"src="images/g1.jpeg"></a>
<a data-fancybox="gallery" href="images/g2.jpeg"><img style="height:169px;width:255px"  class="small" src="images/g2.jpeg"></a>
<a data-fancybox="gallery" href="images/g3.jpeg"><img style="height:169px;width:255px"  class="small" src="images/g3.jpeg"></a><center>
		<!--end-->
      </div>
    </div>
  </div>
</section>
<!--Programmes  section start--> 

<!--milston section start-->
<section class="services">
      <div class="row no-gutters justify-content-center mb-5 pb-3 pt-5">
        <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
          <h2>Our Milestones</h2>
        </div>
      </div>
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4 ftco-animate py-5 nav-link-wrap aside-stretch fadeInUp ftco-animated">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link px-4 active show" id="v-pills-master-tab" data-toggle="pill" href="#v-pills-master" role="tab" aria-controls="v-pills-master" aria-selected="false"><span class="flaticon-light-bulb mr-3"></span> Inception</a>
              <a class="nav-link px-4" id="v-pills-buffet-tab" data-toggle="pill" href="#v-pills-buffet" role="tab" aria-controls="v-pills-buffet" aria-selected="false"><span class="flaticon-group mr-3"></span>Total Participants</a>
              <a class="nav-link px-4" id="v-pills-fitness-tab" data-toggle="pill" href="#v-pills-fitness" role="tab" aria-controls="v-pills-fitness" aria-selected="false"><span class="flaticon-presentation mr-3"></span> Summer Programmes</a>
              <a class="nav-link px-4" id="v-pills-reception-tab" data-toggle="pill" href="#v-pills-reception" role="tab" aria-controls="v-pills-reception" aria-selected="true"><span class="flaticon-world mr-3"></span> Our Global Presence</a>
            </div>
          </div>
          <div class="col-md-8 ftco-animate p-4 p-md-5 d-flex align-items-center fadeInUp ftco-animated">
            <div class="tab-content pl-md-5" id="v-pills-tabContent">
              <div class="tab-pane fade active show" id="v-pills-master" role="tabpanel" aria-labelledby="v-pills-master-tab">
                <span class="flaticon-light-bulb  mb-3 d-block icon"></span>
                <h2 class="mb-4">Launched in 2017 in partnership with HKCL.<br /> 
Running smoothly from 2017 onwards.
</h2>
              </div>

              <div class="tab-pane fade" id="v-pills-buffet" role="tabpanel" aria-labelledby="v-pills-buffet-tab">
                <span class="icon mb-3 d-block flaticon-group"></span>
                <h2 class="mb-4">45,000+ Haryana Talent Search Examination test takers since 2017.</h2>
              </div>

              <div class="tab-pane fade" id="v-pills-fitness" role="tabpanel" aria-labelledby="v-pills-fitness-tab">
                <span class="icon mb-3 d-block flaticon-presentation"></span>
                <h2 class="mb-4">2 years of conducting  summer programmes with 650+ student alumni in India.
</h2>
              </div>

              <div class="tab-pane fade" id="v-pills-reception" role="tabpanel" aria-labelledby="v-pills-reception-tab">
                <span class="icon mb-3 d-block flaticon-world"></span>
                <h2 class="mb-4"> courses delivered with programmes launched in the Haryana in 2017.</h2>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
<!--milston section end-->
<section class="ftco-section bg-light rs-testimonial">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate"> <span class="subheading">Here’s what people say about us</span>
        <h2>TESTIMONIALS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 dish-menu">
        <div class="nav nav-pills justify-content-center ftco-animate" id="v-pills-tab" role="tablist" aria-orientation="vertical"> <a class="nav-link py-3 px-4 active" id="v-pills-student-tab" data-toggle="pill" href="#v-pills-student" role="tab" aria-controls="v-pills-student" aria-selected="false">Students’ Speak</a> <a class="nav-link py-3 px-4" id="v-pills-parent-tab" data-toggle="pill" href="#v-pills-parent" role="tab" aria-controls="v-pills-parent" aria-selected="true">Parents’ Speak</a> 
         
          <a class="nav-link py-3 px-4" id="v-pills-principal-tab" data-toggle="pill" href="#v-pills-principal" role="tab" aria-controls="v-pills-principal" aria-selected="true">School Leaders’ Speak</a> </div>
        <div class="tab-content py-5" id="v-pills-tabContent">
          <div class="tab-pane fade" id="v-pills-principal" role="tabpanel" aria-labelledby="v-pills-principal-tab">
            <div class="row ftco-animate">
              <div class="col-md-12">
                <div class="says owl-carousel ftco-owl">
                  <div class="item">
                    <div class="testimonial-item">
                      <div class="testi-img"> <img src="images/download.jpg" alt="sujatha"> </div>
                      <div class="testi-desc">
                        <h4 class="testi-name">Ms Sujatha</h4>
                        <span class="position">High School, Haryana</span>
                        <p> After seeing HSTE, I would like to talk to my teachers about how certain subjects can be taught - especially abstract concepts to make them more interesting. In my experience, there are students who like physics and maths, and there are students who shy away from the subject. Here I noticed how the entire class was with the instructor - not a single child was left out. The instructor related to them in their own language, even the technical terms used were simplified to ensure everyone was connected to the discussion. I definitely want to talk about this with my teachers - how to make abstract concepts interesting.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="testimonial-item">
                      <div class="testi-img"> <img src="images/mam.jpg" alt="anupama"> </div>
                      <div class="testi-desc">
                        <h4 class="testi-name">Ms Anupama </h4>
                        <span class="position">DPS ,  Haryana</span>
                        <p> I liked that there were objectives and goals set for all students so a child could work at his or her own pace, and how they were given help if required, but they were left alone to learn through peer interaction. It was also interesting to see how they discovered answers to the questions they themselves put across! That shows to students that they already have the answers, they just have to think about it. It was nice to see how students were able to connect these answers to the concepts that were taught earlier. This gave an opportunity to the child to understand how to transfer what is being taught in the classroom to the real world. As teachers, we tend to leave out what we've already taught and just focus on the day's lesson. I really like that the instructors went back to what the students learnt on day one or week one of the course. I will definitely share all these observations with my teachers.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show active" id="v-pills-student" role="tabpanel" aria-labelledby="v-pills-student-tab">
            <div class="row ftco-animate">
              <div class="col-md-12">
                <div class="says owl-carousel ftco-owl">
                  <div class="item">
                    <div class="testimonial-item">
                      <div class="testi-img"> <img src="images/download (1).png" alt="saankhya"> </div>
                      <div class="testi-desc">
                        <h4 class="testi-name">Participated in Haryana Talent Search Examination 2018</h4>
                        <span class="position">Class 8</span>
                        <p> I always liked to draw but this was extremely different. I chose architecture because the other courses on the list looked like something we could learn in school. I just felt it would involve a lot of creativity so that’s why I chose it. This course has exceeded my expectations so this was the best summer ever!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="testimonial-item">
                      <div class="testi-img"> <img src="images/images.png" alt="navya"> </div>
                      <div class="testi-desc">
                        <h4 class="testi-name">Participated in Haryana Talent Search Examination 2018</h4>
                        <span class="position">Class 7</span>
                        <p>Usually, in school, teachers can’t interact with us because there are a lot of kids. At ASP if I have a doubt even out of class, Prabhu sir sits with us during lunch and snacks and we can ask our questions whenever we want. It’s very easy to talk to him because it’s more like talking to a friend than to a teacher.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-parent" role="tabpanel" aria-labelledby="v-pills-parent-tab">
            <div class="row ftco-animate">
              <div class="col-md-12">
                <div class="says owl-carousel ftco-owl">
                  <div class="item">
                    <div class="testimonial-item">
                      <div class="testi-img"> <img src="images/p1.png" alt="madhavi"> </div>
                      <div class="testi-desc">
                        <h4 class="testi-name">Madhavi, Parent, HTSE Summer Programme 2018</h4>
                        <p>Our daughter enjoyed the way of teaching here a lot which is why we decided to send her for the second year. The level of learning here is extremely high, students have almost learnt all the statistical concepts taught in the first year of university! Not just our daughter but all the kids were talking so confidently about correlation coefficients, regressions and outlier sets - it was amazing!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="testimonial-item">
                      <div class="testi-img"> <img src="images/p2.png" alt="reena"> </div>
                      <div class="testi-desc">
                        <h4 class="testi-name">Reena, Parent, HTSE Summer Programme 2018</h4>
                        <p>When I read what my daughter wrote I was quite impressed. I always knew she thinks well and has a creative side, but she was not able to portray that on paper. But when I read her work, I was very happy because I could see the way she has evolved and the kind of confidence she has gained. There is a tremendous change in her attitude and the way she speaks as well.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
       <!-- <p class="text-center ftco-animate"><a href="#" target="_blank" class="btn btn-primary px-3 py-2 mt-2">Click here to watch more testimonials</a></p>-->
      </div>
    </div>
  </div>
</section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2"><a href="#" target="_blank"><img src="images/h.png" class="mr-2" width="150" /></a><img src="images/log12.png" width="250" /></h2>
              <p>We create opportunities that allow gifted students to actualise their unique abilities.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-youtube"></span></a></li>
                <!--<li class="ftco-animate"><a href="#" target="_blank"><span class="icon-linkedin"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><i class="fab fa-blogger-b"></i></a></li>-->
              </ul>
            </div>
          </div>

          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Haryana Talent Search Examination.</h2>
              <ul class="list-unstyled">
                <li><div class="py-2 d-block">Powered By <a href="http://hkcl.in" target="_blank">HKCL</a></div></li>
                <!--<li><div class="py-2 d-block"></div></li>-->
              </ul>
            </div>
          </div>

          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have any questions? Contact us</h2>
              <ul class="list-unstyled">
                <li><div class="py-2 d-block">India: <a href="tel:0172-5210282">0172-5210282</a><br>
				(Monday - Saturday: 9:30 am to 5:30 pm IST)</div></li>
                <li><div class="py-2 d-block"><a href="mailto:info@hkcl.in">info@hkcl.in</a></div></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
           		<small> 2019 © Haryana Talent Search Examination. Powered by HKCL</small>
          </div>
          <div class="col-md-6 text-right">
           		<small>
                  <a href="policy" class="mr-3">Privacy Policy</a>
                  <a href="termsconditions" class="mr-5">Terms and Conditions</a>
              </small>
          </div>
        </div>
      </div>
    </footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min5e1f.js?v=2"></script>
  <script src="js/jquery-migrate-3.0.1.min5e1f.js?v=2"></script>
  <script src="js/popper.min5e1f.js?v=2"></script>
  <script src="js/bootstrap.min5e1f.js?v=2"></script>
  <script src="js/jquery.easing.1.35e1f.js?v=2"></script>
  <script src="js/jquery.waypoints.min5e1f.js?v=2"></script>
  <script src="js/jquery.stellar.min5e1f.js?v=2"></script>
  <script src="js/owl.carousel.min5e1f.js?v=2"></script>
  <script src="js/jquery.magnific-popup.min5e1f.js?v=2"></script>
  <script src="js/aos5e1f.js?v=2"></script>
  <script src="js/main5e1f.js?v=2"></script>
  <script src="js/jquery-confirm5e1f.js?v=2"></script>
 
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
  </body>

</html>