<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<title>Haryana Talent Search Examination | Exam Pattern</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<link rel="icon" type="image/ico" sizes="16x16" href="images/hkcl-logo.ico">
<link rel="stylesheet" href="css/open-iconic-bootstrap.min7b30.css?v=4">
<link rel="stylesheet" href="css/animate7b30.css?v=4">
<link rel="stylesheet" href="../../use.fontawesome.com/releases/v5.2.0/css/all7b30.css?v=4" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="css/owl.carousel.min7b30.css?v=4">
<link rel="stylesheet" href="css/owl.theme.default.min7b30.css?v=4">
<link rel="stylesheet" href="css/magnific-popup7b30.css?v=4">
<link rel="stylesheet" href="css/aos7b30.css?v=4">
<link rel="stylesheet" href="css/ionicons.min7b30.css?v=4">
<link rel="stylesheet" href="css/flaticon7b30.css?v=4">
<link rel="stylesheet" href="css/icomoon7b30.css?v=4">
<link rel="stylesheet" href="css/jquery-confirm7b30.css?v=4">
<link rel="stylesheet" href="css/style7b30.css?v=4">
<link rel="stylesheet" href="css/all7b30.css?v=4">


</head>
<body>
 <div class="header-top">
  <div class="container">
    <h3>Call us : 0172-5210282</h3>
   
  <!--<button class="btn btn-primary" type="button" onclick="" >Locate ALC</button>-->
    <a href="images/ALC-2019.pdf" target="_blank">Locate ALC</a> 
    <a href="images/FAQs.pdf" target="_blank">FAQ</a> 
  
  <div class="dropdown top-dropdown request-catalog">
    <button class="btn btn-primary" type="button" onclick="window.location.href='registration.html'" data-toggle="dropdown">Registration</button>
	
   
  </div>
    
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
  <div class="container"> <a class="navbar-brand" href="http://localhost:8080"><img src="images/hkcl-logo.png" width="80" /><img src="images/log2.png" width="250" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"> <span class="oi oi-menu"></span> Menu </button>
   	<div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="http://localhost:8080" class="nav-link">Home</a></li>
        <li class="nav-item "><a href="aboutgiftededucation" class="nav-link">About Us</a></li>
        <li class="nav-item "><a href="aboutassettalentsearch" class="nav-link">Prize Distribution</a></li>
        <li class="nav-item "><a href="programmes" class="nav-link">Exam Pattern</a></li>
		<li class="nav-item "><a href="#" class="nav-link">Mock Test</a></li>
        <li class="nav-item "><a href="contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

    <section class="home-slider owl-carousel" >
      <div class="slider-item" style="background-image: url('images/49.jpg'); height: 250px; min-height: 500px;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-end" style="min-height: 500px; height: 250px;">
            <div class="col-md-10 col-sm-12 ftco-animate mb-4">
              <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>> Exam Pattern</span></p>
              <h1 class="mb-3">Exam Pattern</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section rs-courses" id="partner">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Exam Pattern</span>
            <h2 style="font-size:17px">This examination will be conducted at the nearest Authorized Learning Center (ALC). The examination pattern will be as per table below.</h2>
          </div>
        </div>
        <!--<div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="../northwestern-ctd-gifted-programme/index.php" target="_blank" class="block-20 h150" style="background-image: url('images/insta-2.jpg');"></a>
              <div class="text p-4">
                <h5><a href="../northwestern-ctd-gifted-programme/index.php" target="_blank">Northwestern University Gifted Learning Links (GLL) Programme</a></h5>
                <p class="features">
                  Online courses for students in classes 5-10
                </p>
                <p><a href="../northwestern-ctd-gifted-programme/index.php" target="_blank" class="btn btn-primary">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="../northwestern-ctd-residential-programme/index.php" target="_blank" class="block-20 h150" style="background-image: url('images/insta-2.jpg');"></a>
              <div class="text p-4">
                <h5><a href="../northwestern-ctd-residential-programme/index.php" target="_blank">Northwestern University’s summer residential programme <br/><br/></a></h5>
                <p class="features">
                  for students in classes 7-10<br/><br/>
                </p>

                <p><a href="../northwestern-ctd-residential-programme/index.php" target="_blank" class="btn btn-primary">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="../renzulli-creativity-programme/index.php" target="_blank" class="block-20 h150" style="background-image: url('images/insta-3.jpg');"></a>
              <div class="text p-4">
                <h5><a href="../renzulli-creativity-programme/index.php" target="_blank">Summer Programme at Yale University & UCLA</a></h5>
                <p class="features">
                  Residential programme offered as a part of Renzulli Creativity Programs by LPI Learning
                </p>
                <p><a href="../renzulli-creativity-programme/index.php" target="_blank" class="btn btn-primary">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="../sig-programme/index.php" target="_blank" class="block-20 h150" style="background-image: url('images/insta-6.jpg');"></a>
              <div class="text p-4">
                <h5><a href="../sig-programme/index.php" target="_blank">SIG Programmes at US Universities </a></h5>
                <p class="features">
                  Residential programmes offered at campuses of prestigious universities like Princeton University, Northeastern University, UC Berkeley, UCLA, University of Chicago, Yale University etc.
                </p>
                <p><a href="../sig-programme/index.php" target="_blank" class="btn btn-primary">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry" style="height: 506px">
              <a href="../pu-geri-residential-programme/index.php" target="_blank" class="block-20 h150" style="background-image: url('images/insta-5.jpg');"></a>
              <div class="text p-4">
                <h5><a href="../pu-geri-residential-programme/index.php" target="_blank">Summer residential programme at Purdue University</a></h5>
                <p class="features pb-4 mb-4">
                  Residential programme offered by their Gifted Education Resource Institute (GERI)
                </p>
                <p><a href="../pu-geri-residential-programme/index.php" target="_blank" class="btn btn-primary mt-4">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry" style="height: 506px">
              <a href="../ub-atdp-residential-programme/index.php" target="_blank" class="block-20 h150" style="background-image: url('images/insta-1.jpg');"></a>
              <div class="text p-4">
                <h5 class="mb-4 pb-3"><a href="../ub-atdp-residential-programme/index.php" target="_blank">Summer Programme at UC Berkeley</a></h5>
                <p class="features pb-4 mb-4">
                  Residential programme offered by the Academic Talent Development Program (ATDP)
                </p>
                <p><a href="../ub-atdp-residential-programme/index.php" target="_blank" class="btn btn-primary mt-4">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>-->
		
		<div class="row">
              <div class="col-lg-4">
                <div class="cource-item">
                  <div class="cource-img"> <img src="images/partners-programs1.jpg" alt=""> <a class="image-link" href="https://www.assettalentsearch.com/northwestern-ctd-gifted-programme/index.php" target="_blank"> <i class="fa fa-link"></i> </a> </div>
                  <div class="course-body">
                    <h4 class="course-title"><a href="https://www.assettalentsearch.com/northwestern-ctd-gifted-programme/index.php" target="_blank">Stage- I</a></h4>
                    <div class="course-desc">
                      <p>Group <br> Group A, Group B, Group C & Group D</p>
					  <p>Computer Based Online Exam</p>
                    </div>
                  </div>
                  <div class="course-footer">
                    <div class="course-time"> <span class="label">Questions</span> <span class="desc">45 MCQ </span> </div>
                    <div class="course-student"> <span class="label">Duration</span> <span class="desc">30 Minutes</span> </div>
                    <div class="class-duration"> <span class="label">Medium</span> <span class="desc">Hindi & English</span> </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="cource-item">
                  <div class="cource-img"> <img src="images/partners-programs2.jpg" alt=""> <a class="image-link" href="https://www.assettalentsearch.com/northwestern-ctd-residential-programme/index.php" target="_blank"> <i class="fa fa-link"></i> </a> </div>
                  <div class="course-body">
                    <h4 class="course-title"><a href="https://www.assettalentsearch.com/northwestern-ctd-gifted-programme/index.php" target="_blank">Stage- II</a></h4>
                    <div class="course-desc">
                      <p>Group <br> Group A, Group B, Group C & Group D</p>
					  <p>Computer Based Online Exam</p>
                    </div>
                  </div>
                  <div class="course-footer">
                    <div class="course-time"> <span class="label">Questions</span> <span class="desc">80 MCQ </span> </div>
                    <div class="course-student"> <span class="label">Duration</span> <span class="desc">60 Minutes</span> </div>
                    <div class="class-duration"> <span class="label">Medium</span> <span class="desc">Hindi & English</span> </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="cource-item">
                  <div class="cource-img"> <img src="images/partners-programs3.jpg" alt=""> <a class="image-link" href="https://www.assettalentsearch.com/renzulli-creativity-programme/index.php" target="_blank"> <i class="fa fa-link"></i> </a> </div>
                  <div class="course-body">
                    <h4 class="course-title"><a href="https://www.assettalentsearch.com/renzulli-creativity-programme/index.php" target="_blank">Stage-I  & Stage-II Exam Conducted</a></h4>
                    <div class="course-desc">
                       <p>Computer Based Online Exam</p>
                    </div>
                  </div>
                  <div class="course-footer">
                    <div class="course-time"> <span class="label">Stage-I</span> <span class="desc">25-Sep-19 to 29-Sept-19</span> </div>
                    <div class="course-student"> <span class="label">Stage-II</span> <span class="desc">17-Oct-19 to 19-Oct-19</span> </div>
                    <div class="class-duration"> <span class="label">Exam Mode</span> <span class="desc">Online</span> </div>
                  </div>
                </div>
              </div>
            </div>
		
		
		<div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Exam Syllabus</span>
            <h2 style="font-size:17px">This examination will be conducted at the nearest Authorized Learning Center (ALC). The examination pattern will be as per table below.</h2>
          </div>
        </div>
		
		<!--syllabus-->
         
            <div class="row">
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs4.jpg" alt=""> <a class="image-link"href="#" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                  <div class="course-body">
                    <h4 class="course-title"><a href="#" target="_blank">Stage-I - Group A, Group B, Group C and Group D</a></h4>
                    <div class="course-desc">
                      <p>  <ul style="text-align: left;">
					       <li>Mental Ability Test (MAT) </li>
						    <li>General Knowledge</li>
						    <li>Basic Computer Knowledge</li>
						    <li>Syllabus for stage-I will be same for all groups i.e. Group A, Group B, Group C and Group D.</li>
							</ul>
							</p>
                    </div>
                  </div>
                  <div class="course-footer">
                   <!-- <div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">7-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs5.jpg" alt=""> <a class="image-link"href="https://www.assettalentsearch.com/sig-programme/index.php" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                  <div class="course-body">
                    <h4 class="course-title"><a href="#" target="_blank">Stage-II - For Group-A (Class 5th to Class 6th)</a></h4>
                    <div class="course-desc">
                    <p>  
					<ul style="text-align: left;">
						    <li>Section-1: Science, Mathematics</li>
						    <li>Section-2: English Grammar, Hindi Grammar </li>
						    <li>Section-3: Mental Ability Test, General Knowledge, Computer Basics.</li>
					</ul>
					</p>
                    </div>
                  </div>
                  <div class="course-footer">
                    <!--<div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential/Online</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">5-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs6.jpg" alt=""> <a class="image-link"href="#" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                  <div class="course-body">
                    <h4 class="course-title"><a href="#" target="_blank">Stage-II - For Group-B (Class 7th to Class 8th)</a></h4>
                    <div class="course-desc">
                    <p>  
					<ul style="text-align: left;">
						    <li>Section-1: Science, Social Science, Mathematics</li>
						    <li>Section-2: English Grammar, Hindi Grammar </li>
						    <li>Section-3: MAT, General Knowledge, Computer Basics.</li>
					</ul>
					</p>
                    </div>
                  </div>
                  <div class="course-footer">
                    <!--<div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">5-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
            </div>
			
			<div class="row">
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs4.jpg" alt=""> <a class="image-link"href="#" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                  <div class="course-body">
                    <h4 class="course-title"><a href="#" target="_blank">Stage-II - For Group-C (Class 9th to Class 10th)</a></h4>
                    <div class="course-desc">
                    <p>  
					<ul style="text-align: left;">
						    <li>Section-1: Science, Social Science, Mathematics</li>
						    <li>Section-2: English Grammar, Hindi Grammar </li>
						    <li>Section-3: MAT, General Knowledge, Computer Basics.</li>
					</ul>
					</p>
                    </div>
                  </div>
                  <div class="course-footer">
                   <!-- <div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">7-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs5.jpg" alt=""> <a class="image-link"href="https://www.assettalentsearch.com/sig-programme/index.php" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                   <div class="course-body">
                    <h4 class="course-title"><a href="#" target="_blank">Stage-II - For Group-D (Class 11th to Class 12th)</a></h4>
                    <div class="course-desc">
                    <p>  
					<ul style="text-align: left;">
						    <li>Section-1: General Knowledge, Basic Computer Knowledge</li>
						    <li>Section-2: English Grammar, Hindi Grammar </li>
						    <li>Section-3: Reasoning Ability, Quantitative Ability.</li>
					</ul>
					</p>
                    </div>
                  </div>
                  <div class="course-footer">
                    <!--<div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential/Online</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">5-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4">
                <div class="cource-item">
                  <!--<div class="cource-img"> <img src="images/partners-programs6.jpg" alt=""> <a class="image-link"href="#" target="_blank"> <i class="fa fa-link"></i> </a> </div>-->
                  <div class="course-body">
                    <!--<h4 class="course-title"><a href="#" target="_blank"></a></h4>-->
                    <div class="course-desc">
                      <p><ul style="text-align: left;">
					  <li>There are separate question papers for each Group-A, B and C.</li>
 	 <li>The medium of the test is English and Hindi.</li>
 	 <li>CBSE, ICSE, HSBE syllabus is followed for setting the test papers. </li>
 	 <li>The exam will be conducted in the time slots provided when the date of exam will be announced.</li>
	<ul>
</p>
                    </div>
                  </div>
                  <div class="course-footer">
                    <!--<div class="course-time"> <span class="label">Programme Type</span> <span class="desc"> Residential</span> </div>
                    <div class="course-student"> <span class="label">Grades</span> <span class="desc">5-10</span> </div>
                    <div class="class-duration"> <span class="label">Location</span> <span class="desc">USA</span> </div>-->
                  </div>
                </div>
              </div>
            </div>
			
			
      </div>
      <div class="text-center mt-4 pt-4">
        <!--<p>To participate in these programmes, first register for ASSET Talent Search test</p>
        <p><a href="../asset_talent_search_registration.php" class="btn btn-primary px-3 py-2 mt-2" target="_blank">Registration deadline: 25th November 2018</a></p>-->
		<p style="text-align:left"><h2 style="font-size:17px"><span class="subheading">HTSE Exam Eligibility:</h2> The eligibility criteria of HTSE 2018, all the students of 5th to 10th standard are eligible to appear in this HTSE. Students from both government and private schools are eligible to register for this exam.</span> </p>
		<p style="text-align:left"><h2 style="font-size:17px">HTSE Exam Registration:</h2><span class="subheading">The student can register his/her name by going to any nearest ALC center.</span></p>
        <!--<p>Our admissions team is ready to walk you through choosing the most suitable gifted programme.</p>
        <p><a href="#" class="btn btn-primary px-3 py-2 mt-2" target="_blank">Take Exam</a></p>-->
      </div>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2"><a href="#" target="_blank"><img src="images/h.png" class="mr-2" width="150" /></a><img src="images/log12.png" width="250" /></h2>
              <p>We create opportunities that allow gifted students to actualise their unique abilities.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-youtube"></span></a></li>
                <!--<li class="ftco-animate"><a href="#" target="_blank"><span class="icon-linkedin"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><i class="fab fa-blogger-b"></i></a></li>-->
              </ul>
            </div>
          </div>

          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Haryana Talent Search Examination.</h2>
              <ul class="list-unstyled">
                <li><div class="py-2 d-block">Powered By <a href="http://hkcl.in" target="_blank">HKCL</a></div></li>
                <!--<li><div class="py-2 d-block"></div></li>-->
              </ul>
            </div>
          </div>

          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have any questions? Contact us</h2>
              <ul class="list-unstyled">
                <li><div class="py-2 d-block">India: <a href="tel:0172-5210282">0172-5210282</a><br>
				(Monday - Saturday: 9:30 am to 5:30 pm IST)</div></li>
                <li><div class="py-2 d-block"><a href="mailto:info@hkcl.in">info@hkcl.in</a></div></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
           		<small> 2019 © Haryana Talent Search Examination. Powered by HKCL</small>
          </div>
          <div class="col-md-6 text-right">
           	<small>
                  <a href="policy" class="mr-3">Privacy Policy</a>
                  <a href="termsconditions" class="mr-5">Terms and Conditions</a>
              </small>
          </div>
        </div>
      </div>
    </footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min5e1f.js?v=2"></script>
  <script src="js/jquery-migrate-3.0.1.min5e1f.js?v=2"></script>
  <script src="js/popper.min5e1f.js?v=2"></script>
  <script src="js/bootstrap.min5e1f.js?v=2"></script>
  <script src="js/jquery.easing.1.35e1f.js?v=2"></script>
  <script src="js/jquery.waypoints.min5e1f.js?v=2"></script>
  <script src="js/jquery.stellar.min5e1f.js?v=2"></script>
  <script src="js/owl.carousel.min5e1f.js?v=2"></script>
  <script src="js/jquery.magnific-popup.min5e1f.js?v=2"></script>
  <script src="js/aos5e1f.js?v=2"></script>
  <script src="js/main5e1f.js?v=2"></script>
  <script src="js/jquery-confirm5e1f.js?v=2"></script>
  

  </body>

</html>