<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<title>Haryana Talent Search Examination | Terms & Conditions</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<link rel="icon" type="image/ico" sizes="16x16" href="images/hkcl-logo.ico">
<link rel="stylesheet" href="css/open-iconic-bootstrap.min7b30.css?v=4">
<link rel="stylesheet" href="css/animate7b30.css?v=4">
<link rel="stylesheet" href="../../use.fontawesome.com/releases/v5.2.0/css/all7b30.css?v=4" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="css/owl.carousel.min7b30.css?v=4">
<link rel="stylesheet" href="css/owl.theme.default.min7b30.css?v=4">
<link rel="stylesheet" href="css/magnific-popup7b30.css?v=4">
<link rel="stylesheet" href="css/aos7b30.css?v=4">
<link rel="stylesheet" href="css/ionicons.min7b30.css?v=4">
<link rel="stylesheet" href="css/flaticon7b30.css?v=4">
<link rel="stylesheet" href="css/icomoon7b30.css?v=4">
<link rel="stylesheet" href="css/jquery-confirm7b30.css?v=4">
<link rel="stylesheet" href="css/style7b30.css?v=4">
<link rel="stylesheet" href="css/all7b30.css?v=4">


</head>
<body>
  <div class="header-top">
  <div class="container">
    <h3>Call us : 0172-5210282</h3>
   
   <!--<button class="btn btn-primary" type="button" onclick="" >Locate ALC</button>-->
    <a href="images/ALC-2019.pdf" target="_blank">Locate ALC</a> 
    <a href="images/FAQs.pdf" target="_blank">FAQ</a> 
  
  <div class="dropdown top-dropdown request-catalog">
    <button class="btn btn-primary" type="button" onclick="window.location.href='registration.html'" data-toggle="dropdown">Registration</button>
	
   
  </div>
    
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
  <div class="container"> <a class="navbar-brand" href="http://localhost:8080"><img src="images/hkcl-logo.png" width="80" /><img src="images/log2.png" width="250" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"> <span class="oi oi-menu"></span> Menu </button>
   	<div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="http://localhost:8080" class="nav-link">Home</a></li>
        <li class="nav-item "><a href="aboutgiftededucation" class="nav-link">About Us</a></li>
        <li class="nav-item "><a href="aboutassettalentsearch" class="nav-link">Prize Distribution</a></li>
        <li class="nav-item "><a href="programmes" class="nav-link">Exam Pattern</a></li>
		<li class="nav-item "><a href="#" class="nav-link">Mock Test</a></li>
        <li class="nav-item "><a href="contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

    <section class="home-slider owl-carousel" >
      <div class="slider-item" style="background-image: url('images/49.jpg'); height: 250px; min-height: 500px;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-end" style="min-height: 500px; height: 250px;">
            <div class="col-md-10 col-sm-12 ftco-animate mb-4">
              <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>> Terms and Conditions</span></p>
              <h1 class="mb-3">Terms and Conditions</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section contact-section">
      <div class="container bg-light">
                      <p><b>Terms &amp; Conditions</b></p>
                      <p class="justify">Welcome to our website. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Haryana Talent Search Examination relationship with you in relation to this website and the offering/s which you order through this website.The term 'you' refers to the user/viewer of our website. The use of this website and the products purchased on this website is subject to the following terms of use:</p>
                       <p class="justify">
                                </p><ol type="1">
                                    <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
                                    <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products or information available through this website meet your specific requirements</li>
                                    <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
                                    <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
                                    <li>All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
                                    <li>Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
                                    <li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
                                    <li>You may not create a link to this website from another website or document without EI's prior written consent</li>
                                    <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of India or other regulatory authority and subject to Ahmedabad, Gujrat jurisdiction.</li>
                                    <li>All information, content and material, including the software, text, images, graphics, video and audio, and the offerings and services are property of EI. All trademarks, services marks, trade names are proprietary to EI. You understand that EI Offerings that includes, ASSET, ASSET Talent Search, ASSET Summer Programme, Mindspark, AQAD, Detailed Assessment, Educational Initiatives are registered trademark owned by Educational Initiatives Pvt Ltd. These trademark may not be used in any manner without prior written consent of EI. No information, content or material from the our products and services may be copied, downloaded, reproduced, modified, republished, uploaded, posted, transmitted or distributed in any way without obtaining prior written permission from EI and nothing shared shall be deemed to confer a license of or any other right, interest or title to or in any of the intellectual property rights belonging to EI, to the User. </li>
                                    <li>Your use of our products and services provided for herein is solely for your personal and non-commercial use. Any use of EI offerings other than the specified personal purposes is prohibited. Your personal and non-commercial use shall be subjected to the following conditions and restrictions laid down by EI from time to time as set forth in this document.</li>
                                    <li>In no event will EI. be liable for damages of any kind, including without limitation,
                  (1) indirect, punitive, special, exemplary, incidental, or consequential damage (including loss of business, revenue, profits, use, data or other economic advantage, loss of programs or information), or
                  (2) direct damages in excess of the amount paid to EI for the product and / or service, arising out of the use of, misuse of or inability to use, or errors, omissions or other inaccuracies in the Site or the products and / or services, or any information provided on the Site. Some jurisdictions do not allow the limitation or exclusion of liability. Accordingly, in such instances, some of the above limitations may not apply to the User
                  </li>
                  <li>HTSE may also contact the user through sms, email and call to give notifications on various important updates. Therefore, User holds HTSE non liable to any liabilities including financial penalties, damages, expenses in case the users mobile number is registered with Do not Call (DNC) database.</li>
                  <li>You hereby indemnify, defend, and hold HTSE, HTSE's distributors, agents, representatives and other authorized users, and each of the foregoing entities' respective resellers, distributors, service providers and suppliers, and all of the foregoing entities' respective officers, directors, owners, employees, agents, representatives, harmless from and against any and all losses, damages, liabilities and costs arising from your use of our product.</li>
                  <li>In the event of breach of the terms and conditions of this Terms of Use by the User, the User shall be promptly liable to indemnify HTSE for all the costs, losses and damages caused to HTSE as a result of such a breach.</li>
                  <li>In the event of your breach of this Terms of Use, you agree that HTSE will be irreparably harmed and will not have an adequate remedy in money or damages. HTSE therefore, shall be entitled in such event to obtain an injunction against such a breach from any court of competent jurisdiction immediately upon request. HTSE's right to obtain such relief shall not limit its right to obtain other remedies.</li>
                                </ol>
                        <p></p>

                       <p>
                            <strong>Other Terms &amp; Conditions:</strong><br>
                            HTSE hereby grants to the customer a non-exclusive, non-assignable and non-transferable, right to access the offerings of HTSE solely for usage by customer only.
              The Customer cannot grant access to the techniques and practices associated with HTSE Offerings or any rights therein to any third party. Further, the customer gives an unconditional undertaking to HTSE that it shall not otherwise use or exploit HTSE offering for any use or purpose except as expressly set forth-
                        </p>
            <p class="justify">
                            </p><ol type="1">
                              <li>INTELLECTUAL PROPERTY RIGHTS
                              <ol type="a">
                                    <li>HTSE is the sole and exclusive owner and retains all title, copyright and other proprietary rights in ASSET Summer Studies, ASSET Talent Search, ASSET, Mindspark and other HTSE offerings ("HTSE Offerings"), of all the material and content on HTSE's website, including without limitation www.mindspark.in, www.HTSE-india.com, and any other work owned by HTSE, and all the Updates, modifications and all versions of each. Any developments in any offering of HTSE including without limitation inventions, design, layout, images, documents, files, trade secrets, photographs, content, graphics, sound, videos, trade-dress, trademarks, patents, inventions, copyright ("HTSE Content") is the sole and exclusive property of HTSE and is protected by all the applicable laws, including, without limitation copyright, trademark, trade-names, patents, designs, internet domain names, data protection, IT Act, privacy and publicity rights and other rights and statutes. Use of any HTSE Content without the prior express written permission of HTSE and license to use is strictly prohibited. All rights, title, ownership, intellectual property rights and proprietary rights in the HTSE Content shall always remain with HTSE and shall not pass on to the School, their representatives or any third party at any time.</li>
                                    <li>The user/ customer do not acquire any rights, express or implied, other than those specified in this Agreement. The user/ customer agree to secure and protect access and usage of HTSE Offerings and modifications in a manner consistent with maintaining HTSE's rights therein. Violation of HTSE's intellectual property rights shall be the basis for immediate termination of services, which shall be in addition to and not in lieu of any equitable remedies available to HTSE.</li>
                                    <li>Upon knowledge of any unauthorized possession, use of, or access to, HTSE Offerings, the user/ customer shall promptly notify HTSE and furnish HTSE with full details of such knowledge, assist in preventing any recurrence thereof, and cooperate in any litigation or other proceedings reasonably necessary to protect the rights of HTSE.</li>
                                    <li>d.	The user/ customer shall make all efforts to protect the Intellectual Property Rights of HTSE and in connection with the execution and performance under this Agreement, the user/ customer shall not knowingly infringe any patent, copyright, trade secret, mark, work right or any other proprietary right of HTSE.</li>
                            </ol>
                              </li>

                              <li>Specific additional T&amp;C for Mindspark
                              <ol type="a">
                                    <li>Each subscription covers a period of time determined by the package chosen. The subscription period would be counted from the day of first login or the 7th day from the date of payment (whichever is earlier). It would end on the date determined by the duration of the package.</li>
                                    <li>The performance of Mindspark in terms of computer response may vary according to the speed of internet used by the customer. We recommend a landline broadband connection for Mindspark. We would not be responsible for any response related issues due to internet speed quality at the customer's end.</li>
                                    <li>Any disruption to the usage of Mindspark due to inadequate hardware in working condition, including but not limited to computers and broadband internet access will be the sole liability of the customer. It will remain the customer's responsibility to ensure that there is adequate hardware in working condition at all points in time.</li>
                                    <li>The user/ customer shall make all efforts to protect the Intellectual Property Rights of HTSE and in connection with the execution and performance under this Agreement, the user/ customer shall not knowingly infringe any patent, copyright, trade secret, mark, work right or any other proprietary right of HTSE.</li>
                            </ol>
                              </li>

                              <li>Remedy for Breach
                              <ol>
                                 The Customer agrees that through this service offerings, the customer will have access to and become acquainted with Confidential and proprietary information of HTSE, the unauthorized use or disclosure and any breach of this terms and conditions would cause irreparable harm injury, loss and damage, the extent of which would be impossible to ascertain and for which monetary damages would not be adequate remedy. Accordingly, both Parties agree that, in addition to any all and legal remedies available to HTSE for the customer's breach of this terms and conditions, HTSE shall be entitled to injunctive and other equitable relief in the event of any such breach the customer or its representatives.
                            </ol>
                              </li>


                              <li>INDEMNIFICATION
                              <ol type="a">
                                    <li>The Customer shall defend, indemnify and hold HTSE and its parent, subsidiaries and commonly owned or controlled affiliates and their respective officers, directors and employees harmless from all damages, liabilities and expenses (including reasonable attorney's fees and permitted and authorized costs) arising out of or in connection with liabilities or obligations imposed or attempted to be imposed upon HTSE, by breach of this Agreement or as a result of claims by third parties. Such indemnification is in addition to HTSE's right to terminate for a breach of representations and warranties and is not a waiver or limitation of HTSE's other rights or remedies.</li>
                                    <li>HTSE does not make any other warranties, express or implied, regarding Mindspark, or its delivery systems, including, without limitation, any implied warranties of merchantability or fitness for a particular purpose. HTSE shall not be liable to the School or any other person or entity for any punitive, special, indirect, consequential, incidental or other special damages, cost or losses arising out of this Agreement, even if HTSE has been advised of the possibility of such damages, costs or losses. No action, regardless of form or nature, arising out of this Agreement may be brought by or on behalf of School more than six (6) months after the cause of action first arose.</li>
                            </ol>
                              </li>
                            </ol>
                           <p></p>

                          <p class="justify"><strong>Business Ordinance clause:</strong></p>
                          <p>We as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any Transaction, on Account of the Cardholder having exceeded the preset limit mutually agreed by us with our acquiring bank from time to time</p>

                          <p class="justify"><strong>Cancellation and Refund Policy</strong></p>
                          <p>All purchases and payments made will be final and non-refundable, except where explicitly it is stated as part of refund/ cancellation options offered for a specific offering. Users can evaluate before availing the Services from the Website.</p>
                          <p>All packages/ offers are valid for the period specified in the subscription package selected from date of purchase. No refund will be given if you wish to discontinue the Services before the end of the period.</p>

      </div>
    </section>


    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
               <h2 class="ftco-heading-2"><a href="#" target="_blank"><img src="images/h.png" class="mr-2" width="150" /></a><img src="images/log12.png" width="250" /></h2>
              <p>We create opportunities that allow gifted students to actualise their unique abilities.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><span class="icon-youtube"></span></a></li>
                <!--<li class="ftco-animate"><a href="#" target="_blank"><span class="icon-linkedin"></span></a></li>
                <li class="ftco-animate"><a href="#" target="_blank"><i class="fab fa-blogger-b"></i></a></li>-->
              </ul>
            </div>
          </div>

          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Haryana Talent Search Examination.</h2>
              <ul class="list-unstyled">
                <li><div class="py-2 d-block">Powered By <a href="http://hkcl.in" target="_blank">HKCL</a></div></li>
                <!--<li><div class="py-2 d-block"></div></li>-->
              </ul>
            </div>
          </div>

          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have any questions? Contact us</h2>
              <ul class="list-unstyled">
                <li><div class="py-2 d-block">India: <a href="tel:0172-5210282">0172-5210282</a><br>
				(Monday - Saturday: 9:30 am to 5:30 pm IST)</div></li>
                <li><div class="py-2 d-block"><a href="mailto:info@hkcl.in">info@hkcl.in</a></div></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
           		<small> 2019 © Haryana Talent Search Examination. Powered by HKCL</small>
          </div>
          <div class="col-md-6 text-right">
           		<small>
                  <a href="policy" class="mr-3">Privacy Policy</a>
                  <a href="termsconditions" class="mr-5">Terms and Conditions</a>
              </small>
          </div>
        </div>
      </div>
    </footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min5e1f.js?v=2"></script>
  <script src="js/jquery-migrate-3.0.1.min5e1f.js?v=2"></script>
  <script src="js/popper.min5e1f.js?v=2"></script>
  <script src="js/bootstrap.min5e1f.js?v=2"></script>
  <script src="js/jquery.easing.1.35e1f.js?v=2"></script>
  <script src="js/jquery.waypoints.min5e1f.js?v=2"></script>
  <script src="js/jquery.stellar.min5e1f.js?v=2"></script>
  <script src="js/owl.carousel.min5e1f.js?v=2"></script>
  <script src="js/jquery.magnific-popup.min5e1f.js?v=2"></script>
  <script src="js/aos5e1f.js?v=2"></script>
  <script src="js/main5e1f.js?v=2"></script>
  <script src="js/jquery-confirm5e1f.js?v=2"></script>
  

  </body>

</html>